/*STYLE CSS POUR LA PAGE SUIVI.HTML*/

.section2Suivi{
    height:280px;
    width:1195px;
}
.section3Suivi{
    height:700px;
    width:1195px;
}

.barreSeparationOrange1{
    background-color:RGB(255,105,42);
    height: 3px;
    margin-top:5px;
    width:600px;
}
.barreSeparationOrange2{
    background-color:RGB(255,105,42);
    height: 3px;
    margin-top:10px;
    margin-bottom:10px;
    width:1197px;
}
.titleArticleSuiviDuJourBig{
    height:80px;
    font-size: 40px;
    line-height:78px;;
}
.optionsProfil{
    background-color: rgb(250, 250, 250);
    box-sizing:border-box;
    border:1px solid #fff8dc;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: normal;
    height: 80px;
    line-height:78px;;
    margin: 0;
    text-indent: 10px;
    width: 550px;
}