{% extends "base.html" %}

{% block link %}
{% load staticfiles %}
  <link rel="stylesheet" href="{% static "css/style_inscription.css" %}" type="text/css">
{% endblock %}

{% block momo %}
{% load inscription_extras %}
 <form id="myForm2" action="" method="post">{% csrf_token %}
   <!--<input type="text" name="pseudo"><br>-->
	 {{ auth_form.username }}

   <!--<input type="text" name="password"><br>-->

	 {{ auth_form.password }}
   <input value="Connect" type="submit"/>
 </form>
{% endblock %}

{% block linkJavascript %}
{% load staticfiles %}
  <script src="{% static "javascript/inscription.js" %}" type="text/javascript"></script>
{% endblock %}