{% extends "base.html" %}

{% block link %}
{% load staticfiles %}
  <link rel="stylesheet" href="{% static "css/style_inscription.css" %}" type="text/css">
  {% endblock %}

  {% block content %}

  <section class="section1">
    <section class="section2 section2Suivi">
      <form id="myForm" action="" method="GET">

	<span class="form_col">Sexe :</span>
	<label><input checked="checked" name="sex" value="H" type="radio">Homme</label>
	<label><input name="sex" value="F" type="radio">Femme</label>
	<span class="tooltip">Vous devez selectionnez votre sexe</span>
	<br><br>

	<label class="form_col" for="lastName">Nom :</label>
	<input name="lastName" id="lastName" type="text">
	<span class="tooltip">Un nom ne peut pas faire moins de 2 caracteres</span>
	<br><br>

	<label class="form_col" for="firstName">Prénom :</label>
	<input name="firstName" id="firstName" type="text">

	<span class="tooltip">Un prenom ne peut pas faire moins de 2 caracteres</span>
	<br><br>

	<label class="form_col" for="age">Age :</label>
	<input name="age" id="age" type="text">
	<span class="tooltip">L'age doit etre compris entre 5 et 140</span>
	<br><br>

	<label class="form_col" for="login">Pseudo :</label>
	<input value="root" name="login" id="login" type="text">
	<span class="tooltip">Le pseudo ne peut pas faire moins de 4 caracteres</span>
	<br><br>

	<label class="form_col" for="pwd1">Mot de passe :</label>
	<input name="pwd1" id="pwd1" type="password">
	<span class="tooltip">Le mot de passe ne doit pas faire moins de 6 caracteres</span>

	<br><br>

	<label class="form_col" for="pwd2">Mot de passe (confirmation) :</label>
	<input name="pwd2" id="pwd2" type="password">
	<span class="tooltip">Le mot de passe de confirmation doit etre identique a celui d'origine</span>
	<br><br>

	<label class="form_col" for="country">Pays :</label>

	<select name="country" id="country">
          <option selected="selected" value="none">Selectionnez votre pays de residence</option>
          <option value="en">Angleterre</option>
          <option value="us">Etats-Unis</option>
          <option value="fr">France</option>
	</select>
	<span class="tooltip">Vous devez selectionner votre pays de residence</span>

	<br><br>

	<span class="form_col"></span>
	<label><input name="news" type="checkbox"> Je desire recevoir la newsletter chaque mois.</label>
	<br><br>

	<span class="form_col"></span>
	<input value="M'inscrire" type="submit"/> <input value="Réinitialiser le formulaire" type="reset"/> 
        
	
      </form>
    </section>
  </section>

{% endblock %}

{% block linkJavascript %}
{% load staticfiles %}
  <script src="{% static "javascript/inscription.js" %}" type="text/javascript"></script>
{% endblock %}
