{% extends "base.html" %}

{% block link %}
{% load staticfiles %}
  <link rel="stylesheet" href="{% static "css/style_inscription.css" %}" type="text/css">
  {% endblock %}

  {% block content %}
  {% load inscription_extras %}
  <section class="section1">
    <section class="section2 section2Suivi">
      <form id="myForm" action="" method="post">{% csrf_token %}
	
	<br><br>
	{{ user_form.last_name|label_with_classes:"form_col"}}
	{{ user_form.last_name }} 
	<span class="tooltip">Un nom ne peut pas faire moins de 2 caracteres</span>
	<br><br>

	{{ user_form.first_name|label_with_classes:"form_col"}}
	{{ user_form.first_name }}
	<span class="tooltip">Un prenom ne peut pas faire moins de 2 caracteres</span>
	<br><br>

	{{ user_form.email|label_with_classes:"form_col"}}
	{{ user_form.email }}
	<br><br>

	{{ utilisateur_form.Age|label_with_classes:"form_col"}}
	{{ utilisateur_form.Age }}
	<br><br>
	
	{{ utilisateur_form.Sexe|label_with_classes:"form_col"}}
	{{ utilisateur_form.Sexe }}
	<br><br>

	{{ user_form.username|label_with_classes:"form_col"}}
	{{ user_form.username }}
	<span class="tooltip">Le pseudo ne peut pas faire moins de 4 caracteres</span>
	<br><br>

	{{ user_form.password1|label_with_classes:"form_col"}}
	{{ user_form.password1 }}
	<span class="tooltip">Le mot de passe ne doit pas faire moins de 6 caracteres</span>
<br><br>

	{{ user_form.password2|label_with_classes:"form_col"}}
	{{ user_form.password2 }}
	<span class="tooltip">Le mot de passe ne doit pas faire moins de 6 caracteres</span>

	<br><br>

	<span class="form_col"></span>
	<input value="M'inscrire" type="submit"/>
        
      </form>
    </section>
  </section>

{% endblock %}

{% block linkJavascript %}
{% load staticfiles %}
  <script src="{% static "javascript/inscription.js" %}" type="text/javascript"></script>
{% endblock %}
