{% extends "base.html" %}

{% block link %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/stylePageExercices.css" %}" type="text/css">
{% endblock %}

{% block content %}
<section class="section1">
  <section class="section2 section2Exercices">
    <article class="bigSearchArea bigSearchAreaRecette">
      <img class="imgLeftBigSearchArea"
	   src="{% static "images/icones_resume_user/fullTransparents/icone_sport.png" %}"/>
      <article class="bigSearchAreaZoneLeft">
	<h1 class="titleArticleBigSearchArea">Rechercher:</h1>
	<select class="selectAreaBigSearchArea"
		name="Nom">
	  <option selected="selected" disabled="disabled">Nom</option>
	  <option>fessiers</option>
	  <option>biceps</option>
	  <option>abdominaux</option>
	</select>
	<select class="selectAreaBigSearchArea"
		name="Partie du corps a travailler">
	  <option selected="selected"
		  disabled="disabled">Partie du corps a travailler</option>
	  <option>fessiers</option>
	  <option>biceps</option>
	  <option>abdominaux</option>
	</select>
	<select class="selectAreaBigSearchArea"
		name="duree">
	  <option selected="selected" disabled="disabled">duree</option>
	  <option>5</option>
	  <option>10</option>
	  <option>20</option>
	</select>
	<button class="buttonBigSearchArea buttonBigSearchAreaPink" type="button">chercher</button> 
      </article>
    </article>
  </section>
  <section class="section3 section3Exercices">
    <div class="barreSeparationOrange2"></div>
    <section class="section333">
      <article class="articleDoubleGauche">
	<h1 class="titleArticleExerciceDuJour">Exercice du jour</h1>
	<img class="imgArticleDuJour"
	     src="{% static "images/newsDefaultImages/exerciceAbdominaux.jpg" %}"/>
	<table class="tableArticleRecetteDuJour">
	  <tr>
	    <th class="titleTableArticleRecetteDuJour" colspan="2">Abdominaux</th>
	  </tr>
	  <tr>
	    <td class="col1TableArticleDuJour">Par:</td>
	    <td class="col2TableArticleDuJour">Lilou</td>
	  </tr>
	  <tr>
	    <td class="col1TableArticleDuJour">Temps:</td>
	    <td class="col2TableArticleDuJour">10min</td>
	  </tr>
	</table>
      </article>
      <article class="articleDoubleDroite">
	<h1 class="titleArticleExerciceDuJour">Derniers exercices ajoutes</h1>
	<img class="imgArticleDuJour"
	   src="{% static "images/newsDefaultImages/exerciceBiceps.jpg" %}"/>
	<table class="tableArticleRecetteDuJour">
	  <tr>
	    <th class="titleTableArticleRecetteDuJour"
		colspan="2">Biceps</th>
	  </tr>
	  <tr>
	    <td class="col1TableArticleDuJour">Par:</td>
	    <td class="col2TableArticleDuJour">Bertrand42</td>
	  </tr>
	  <tr>
	    <td class="col1TableArticleDuJour">Temps:</td>
	    <td class="col2TableArticleDuJour">8min</td>
	  </tr>
	</table>
      </article>
    </section>
    <div class="barreSeparationOrange2"></div>
    <section class="section333">
      <article class="articleSimpleGauche">
	<h1 class="titleArticleExerciceDuJour">Exercices favoris</h1>
	<img class="imgArticleDuJour"
	     src="{% static "images/newsDefaultImages/exerciceFessiers.jpg" %}"/>
	<table class="tableArticleRecetteDuJour">
	  <tr>
	    <th class="titleTableArticleRecetteDuJour"
		colspan="2">Fessiers</th>
	  </tr>
	  <tr>
	    <td class="col1TableArticleDuJour">Par:</td>
	    <td class="col2TableArticleDuJour">Brice42</td>
	  </tr>
	  <tr>
	    <td class="col1TableArticleDuJour">Temps:</td>
	    <td class="col2TableArticleDuJour">9min</td>
	  </tr>
	</table>
      </article>
    </section>
    <div class="barreSeparationOrange2"></div>
  </section>
</section>
{% endblock %}
