{% extends "base.html" %}

{% block content %}
<section class="section1">

  <form id="myForm" action="" method="post">{% csrf_token %}
    {{ form_aliment }}
    <button type="submit">Save</button>
   </form>

</section>



{% endblock %}