{% extends "base.html" %}

{% block link %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/stylePageRecettes.css" %}" type="text/css">
{% endblock %}

{% block content %}
<section class="section1">
  <section class="section2 section2Recettes">
    <article class="bigSearchArea bigSearchAreaRecette">
      <img class="imgLeftBigSearchArea"
	   src="{% static "images/icones_resume_user/fullTransparents/icone_cuisine.png" %}"/>
      <article class="bigSearchAreaZoneLeft">
	<h1 class="titleArticleBigSearchArea">Rechercher:</h1>
	<select class="selectAreaBigSearchArea"
		name="Titre">
	  <option selected="selected" disabled="disabled">Titre</option>
	  <option>pancakes</option>
	  <option>american beef</option>
	  <option>crevettes party</option>
	</select>
	<select class="selectAreaBigSearchArea"
		name="Ingredients">
	  <option selected="selected" disabled="disabled">Ingredients</option>
	  <option>courgettes</option>
	  <option>creme</option>
	  <option>oignons</option>
	</select>
	<select class="selectAreaBigSearchArea"
		name="Sans">
	  <option selected="selected" disabled="disabled">Sans</option>
	  <option>concombres</option>
	  <option>lait</option>
	  <option>oeuf</option>
	</select>
	<button class="buttonBigSearchArea buttonBigSearchAreaOrange" type="button">chercher</button> 
      </article>
      <article class="bigSearchAreaZoneRight">
	<h1 class="titleArticleBigSearchArea">Avec ce que j'ai dans le frigo:</h1>
	<select class="selectAreaBigSearchArea"
		name="Ingredients">
	  <option selected="selected" disabled="disabled">Ingredients</option>
	  <option>courgettes</option>
	  <option>creme</option>
	  <option>oignons</option>
	</select>
	<select class="selectAreaBigSearchArea"
		name="Ingredients">
	  <option selected="selected" disabled="disabled">Ingredients</option>
	  <option>courgettes</option>
	  <option>creme</option>
	  <option>oignons</option>
	</select>
	<select class="selectAreaBigSearchArea"
		name="Ingredients">
	  <option selected="selected" disabled="disabled">Ingredients</option>
	  <option>courgettes</option>
	  <option>creme</option>
	  <option>oignons</option>
	</select>
	<button class="buttonBigSearchArea buttonBigSearchAreaOrange" type="button">chercher</button> 
      </article>
    </article>
  </section>
  <section class="section3 section3Recettes">
    <div class="barreSeparationOrange2"></div>
    <section class="section333">
      <article class="articleDoubleGauche">
	<h1 class="titleArticleRecetteDuJour">Recette du jour</h1>
	<img class="imgArticleDuJour"
	   src="{% static "images/newsDefaultImages/pancakes.jpg" %}"/>
	<table class="tableArticleRecetteDuJour">
	  <tr>
	    <th class="titleTableArticleRecetteDuJour" colspan="2">Pancakes</th>
	  </tr>
	  <tr>
	    <td class="col1TableArticleDuJour">Par:</td>
	    <td class="col2TableArticleDuJour">Mopi42</td>
	  </tr>
	  <tr>
	    <td class="col1TableArticleDuJour">Preparation:</td>
	    <td class="col2TableArticleDuJour">15min</td>
	  </tr>
	</table>
      </article>
      <article class="articleDoubleDroite">
	<h1 class="titleArticleRecetteDuJour">Dernieres
	  recettes ajoutees</h1>
	<img class="imgArticleDuJour"
	   src="{% static "images/newsDefaultImages/beef.jpg" %}"/>
	<table class="tableArticleRecetteDuJour">
	  <tr>
	    <th class="titleTableArticleRecetteDuJour"
		colspan="2">American beef</th>
	  </tr>
	  <tr>
	    <td class="col1TableArticleDuJour">Par:</td>
	    <td class="col2TableArticleDuJour">Jordan42</td>
	  </tr>
	  <tr>
	    <td class="col1TableArticleDuJour">Preparation:</td>
	    <td class="col2TableArticleDuJour">25min</td>
	  </tr>
	</table>
      </article>
    </section>
    <div class="barreSeparationOrange2"></div>
    <section class="section333">
      <article class="articleSimpleGauche">
	<h1 class="titleArticleRecetteDuJour">Recettes favorites</h1>
	<img class="imgArticleDuJour"
	   src="{% static "images/newsDefaultImages/crevettes.jpg" %}"/>
	<table class="tableArticleRecetteDuJour">
	  <tr>
	    <th class="titleTableArticleRecetteDuJour"
		colspan="2">Crevettes party</th>
	  </tr>
	  <tr>
	    <td class="col1TableArticleDuJour">Par:</td>
	    <td class="col2TableArticleDuJour">Martin42</td>
	  </tr>
	  <tr>
	    <td class="col1TableArticleDuJour">Preparation:</td>
	    <td class="col2TableArticleDuJour">30min</td>
	  </tr>
	</table>
      </article>
    </section>
    <div class="barreSeparationOrange2"></div>
  </section>
</section>
{% endblock %}
