/*STYLE CSS POUR LA PAGE INDEX.HTML*/

.section2Index{
    height:280px;
    width:1195px;
}
.section3Index{
    height:700px;
    width:1195px;
}

.barreSeparationOrange1{
    background-color:RGB(255,105,42);
    height: 3px;
    margin-top:5px;
    width:600px;
}
.barreSeparationOrange2{
    background-color:RGB(255,105,42);
    height: 3px;
    margin-top:10px;
    margin-bottom:10px;
    width:1197px;
}
