/*STYLE CSS POUR LA PAGE EXERCICES.HTML*/

.section2Exercices{
    height:340px;
    width:1195px;
}
.section3Exercices{
    height:640px;
    width:1195px;
}

.barreSeparationOrange1{
    background-color:RGB(255,105,42);
    height: 3px;
    margin-top:5px;
    width:600px;
}
.barreSeparationOrange2{
    background-color:RGB(255,105,42);
    height: 3px;
    margin-top:10px;
    margin-bottom:10px;
    width:1197px;
}
.bigSearchAreaRecette{
    background-color:RGB(204,52,103);
}
.buttonBigSearchAreaPink{
    color:RGB(204,52,103);
}

