/*STYLE CSS POUR LES ELEMENTS COMMUNS DES PAGES PRINCIPALES.HTML*/

/*toute la page couleur de fond*/
body
{
    background-color:#FFF8DC;
    /* transform: scale(0.5); */
}

/*zone principale du site*/
.principalCanvas{
    /* border:1px solid #760001; */
    height:1220px;
    margin:auto;
    width:1200px;
}
.barreNoireTop{
    background-color:RGB(39,44,37);
    /* border:1px solid #760001; */
    height:40px;
    width:1200px;    
}
.barreMenu{
    /* border:1px solid #760001; */
    height:120px;
    width:1200px;
}
ul{
    margin:0px;
    padding-left:0px;
}
nav li{
    display:inline-block;
    height:120px;
    vertical-align:top;
    width:240px;
}
li a{
    color:RGB(255,255,255);
    display: block;
    font-size:25;
    height:120px;
    padding-top:20px;
    text-align:center;
    text-decoration:none;
    text-shadow:1px 1px 1px black;
    width:240px;
 }
li img{
    height:60px;
    vertical-align:20px;
    width:60px;
}
.imgMenuIndex{
    height:90px;
    width:150px;
}
.imgResumeUserProfil{
    display:table-cell;
    height:180px;
    vertical-align:middle;
    width:180px;
}
.imgResumeUser3Icones{
    height:60px;
    width:60px;
}
.t2{
    text-align:right;
}
.t3{
    padding-left:8px;
}
.t4{
    text-align:right;
}
.tableResumeUser{
    font-size:24px;
    margin-top:4px;
}
.menu_index{
    background-color:RGB(255,105,42);
    transition:0.42s;
}
.menu_index:hover{
    background-color:RGB(255,105,42);
    padding-bottom:20px;
    transition:0.42s;
}
.menu_recettes{
    background-color:RGB(255,204,51);
    transition:0.42s;
}
.menu_recettes:hover{
    background-color:RGB(255,204,51);
    padding-bottom:20px;
    transition:0.42s;
}
.menu_courses{
    background-color:RGB(102,204,154);
    transition:0.42s;
}
.menu_courses:hover{
    background-color:RGB(102,204,154);
    padding-bottom:20px;
    transition:0.42s;
}
.menu_exercices{
    background-color:RGB(204,52,103);
    transition:0.42s;
}
.menu_exercices:hover{
    background-color:RGB(204,52,103);
    padding-bottom:20px;
    transition:0.42s;
}
.menu_suivi{
    background-color:RGB(50,102,204);
    transition:0.42s;
}
.menu_suivi:hover{
    background-color:RGB(50,102,204);
    padding-bottom:20px;
    transition:0.42s;
}
.section1{
    height:1025px;
    margin-top:30px;
    width:1196px;
}
.section2{
    height:280px;
    width:1195px;
}
.section3{
    height:700px;
    width:1195px;
}
.section33{
    height:345px;
    width:1195px;
}
.section333{
    height:285px;
    width:1195px;
}
.infoUser{
    /* background-color:RGB(222,236,249); */
    /* border:1px solid #760001; */
    height:200px;
    margin-top:20px;
    margin-left:20px;
    width:550px;
}
.articleDoubleGauche{
    background-color:RGB(237,244,252);
    /* border:1px solid #760001; */
    display:inline-block;
    height:270px;
    margin:0;
    margin-top:15px;
    margin-left:20px;
    padding:0;
    width:550px;
}
.articleDoubleDroite{
    background-color:RGB(237,244,252);
    /* border:1px solid #760001; */
    display:inline-block;
    height:270px;
    margin:0;
    margin-top:15px;
    margin-left:45px;
    padding:0;
    width:550px;
}
.articleSimpleGauche{
    background-color:RGB(237,244,252);
    /* border:1px solid #760001; */
    height:270px;
    margin-top:22px;
    margin-left:20px;
    width:550px;
}
.titleArticleRecetteDuJour{
    background-color:RGB(255,204,51);
    color:RGB(255,255,255);
    font-size:36px;
    font-weight:normal;
    height:50px;
    margin:0;
    text-indent:10px;
    text-shadow:1px 1px 1px black;
    width:550px;
}
.imgArticleDuJour{
    margin:0;
    margin-left:10px;
    margin-top:10px;
}
.tableArticleRecetteDuJour{
    display:inline-block;
    padding:0px 0px 0px 50px;
    vertical-align:top;
}
.titleTableArticleRecetteDuJour{
    font-size:30px;
    height:40px;
    line-height:0;
    text-align:left;
}
.col1TableArticleDuJour{
    font-size:20px;
    text-align:left;
}
.col2TableArticleDuJour{
    font-size:17px;
    padding-left:10px;
    text-align:left;
}
.titleArticleExerciceDuJour{
    background-color:RGB(204,52,103);
    color:RGB(255,255,255);
    font-size:36px;
    font-weight:normal;
    height:50px;
    margin:0;
    text-indent:10px;
    text-shadow:1px 1px 1px black;
    width:550px;
}
.titleArticleSuiviDuJour{
    background-color:RGB(50,102,204);
    color:RGB(255,255,255);
    font-size:36px;
    font-weight:normal;
    height:50px;
    margin:0;
    text-indent:10px;
    text-shadow:1px 1px 1px black;
    width:550px;
}
.barreSeparationOrange{
    background-color:RGB(255,105,42);
    height: 3px;
    margin-top:10px;
    margin-bottom:10px;
    width:1197px;
}
.footer{
    height:30px;
    width:1200px;
}
.textCopyright{
    margin:0px;
    text-align:right;
}
.barreNoireBig{
    background-color:RGB(39,44,37);
    height:40px;
    position:absolute;
    top:8px;
    width:100%;
    z-index:-1;
}
.barreOrangeBig{
    background-color:RGB(255,105,42);
    height:120px;
    position:absolute;
    top:48px;
    width:100%;
    z-index:-1;
}
.titleBlack{
    /* border:1px solid #760001; */
    font-size:35px;
    font-weight:normal;
    margin:0px;
    margin-left:30px;
    width:600px;
}
.bigSearchArea{
    background-color:RGB(255,105,42);
    border-radius:20px;
    height:330px;
    margin-left:8px;
    width:1180px;
}
.imgLeftBigSearchArea{
    display:inline-block;
    height:250px;
    margin-left:15px;
    margin-top:40px;
    width:250px;
}
.bigSearchAreaZoneLeft{
    /* border:1px solid #760001; */
    display:inline-block;
    height:300px;
    margin-left:10px;
    margin-top:15px;
    padding:0px;
    vertical-align:top;
    width:400px;
}
.bigSearchAreaZoneRight{
    /* border:1px solid #760001; */
    display:inline-block;
    height:300px;
    margin-left:20px;
    margin-top:15px;
    padding:0px;
    vertical-align:top;
    width:400px;
}
.titleArticleBigSearchArea{
    color:RGB(255,255,255);
    font-size:25px;
    font-weight:normal;
    height:30px;
    margin:10px 0px 5px 5px; /* top right bottom left */
    text-indent:10px;
    text-shadow:1px 1px 1px black;
    width:390px;
}
.selectAreaBigSearchArea{
    font-size:25px;
    font-weight:normal;
    height:50px;
    margin-left:20px;
    margin-top:15px;
    width:360px;
}
.buttonBigSearchArea{
    background-color:RGB(255,255,255);
    color:RGB(0,0,0);
    font-size:25px;
    font-weight:normal;
    height:40px;
    margin:15px 0px 5px 232px; /* top right bottom left */
    padding:0px;
    text-align:center;
    text-indent:10px;
    width:150px;
}
.articleDoubleBigGauche {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    height: 320px;
    margin: 12px 0 0 20px;
    padding: 0;
    width: 550px;
}

.articleDoubleBigDroite {
    background-color: rgb(255, 255, 255);
    display: inline-block;
    height: 320px;
    margin: 12px 0 0 45px;
    padding: 0;
    width: 550px;
}

.barre_login{
  padding:0;
  margin:0;
  height:40px;
  text-align: right;
}

.form_login {
  display: inline-block;
  width: 140px;
  text-align: right;
  font-size: 19;
  vertical-align:middle;
  line-height:2.1;
  color:white;
}

.login_input{
  display: inline-block;
  width: 150px;
  height:20px;
  vertical-align:middle;
  line-height:2.1;
}