{% extends "base.html" %}

{% block content %}
<section class="section1">
  <section class="section2 section2Suivi">
  </section>
  <section class="section3 section3Suivi">
    <section class="section33">
    </section>
    <section class="section333">
    </section>
  </section>
</section>
{% endblock %}
