{% extends "base.html" %}

{% block link %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/stylePageIndex.css" %}" type="text/css">
{% endblock %}

{% block content %}
<section class="section1">
  <section class="section2 section2Index">
    <h1 class="titleBlack">Bonjour Lionel</h1>
    <div class="barreSeparationOrange barreSeparationOrange1"></div>
    <article class="infoUser">
      <table class="tableResumeUser">
	<tr>
	  <td rowspan="3">
	    <img class="imgResumeUserProfil"
		 src="{% static "images/icones_resume_user/icone_profil.png" %}"/>
	  </td>
	  <td width=100 class="t2">
	    <img class="imgResumeUser3Icones"
		 src="{% static "images/icones_resume_user/icone_cuisine.png" %}"/>
	  </td>
	  <td class="t3">Mes recettes</td>
	  <td width=100 class="t4">0</td>
	</tr>
	<tr>
	  <td class="t2">
	    <img class="imgResumeUser3Icones" 
		 src="{% static "images/icones_resume_user/icone_sport.png" %}"/>
	  </td>
	  <td class="t3">Mes exercices</td>
	  <td class="t4">0</td>
	</tr><tr>
	  <td class="t2">
	    <img class="imgResumeUser3Icones"
		 src="{% static "images/icones_resume_user/icone_courses.png" %}"/>
	  </td>
	  <td class="t3">Menus (jours)</td>
	  <td class="t4">0</td>
	</tr>
      </table>
    </article>
  </section>
  <section class="section3 section3Index">
    <div class="barreSeparationOrange barreSeparationOrange2"></div>
    <section class="section33">
      <h1 class="titleBlack">Aujourd'hui</h1>
      <article class="articleDoubleGauche">
	<h1 class="titleArticleRecetteDuJour">Recette du jour</h1>
	<img class="imgArticleDuJour"
	     src="{% static "images/newsDefaultImages/pancakes.jpg" %}"/>
	<table class="tableArticleRecetteDuJour">
	  <tr>
	    <th class="titleTableArticleRecetteDuJour" colspan="2">Pancakes</th>
	  </tr>
	  <tr>
	    <td class="col1TableArticleDuJour">Par:</td>
	    <td class="col2TableArticleDuJour">Mopi42</td>
	  </tr>
	  <tr>
	    <td class="col1TableArticleDuJour">Preparation:</td>
	    <td class="col2TableArticleDuJour">15min</td>
	  </tr>
	</table>
	<div class="tocArea">
	  
	</div>
      </article>
      <article class="articleDoubleDroite">
	<h1 class="titleArticleExerciceDuJour">Exercice du jour</h1>
	<img class="imgArticleDuJour"
	     src="{% static "images/newsDefaultImages/exerciceAbdominaux.jpg" %}"/>
	<table class="tableArticleRecetteDuJour">
	  <tr>
	    <th class="titleTableArticleRecetteDuJour" colspan="2">Abdominaux</th>
	  </tr>
	  <tr>
	    <td class="col1TableArticleDuJour">Par:</td>
	    <td class="col2TableArticleDuJour">Lilou</td>
	  </tr>
	  <tr>
	    <td class="col1TableArticleDuJour">Temps:</td>
	    <td class="col2TableArticleDuJour">10min</td>
	  </tr>
	</table>
      </article>
    </section>
    <div class="barreSeparationOrange2"></div>
    <section class="section333">
      <article class="articleSimpleGauche">
	<h1 class="titleArticleSuiviDuJour">Suivi Personnel</h1>
	<img class="imgArticleDuJour"
	     src="{% static "images/newsDefaultImages/courbePoids.jpg" %}"/>
      </article>
    </section>
    <div class="barreSeparationOrange barreSeparationOrange2"></div>
  </section>
  {% endblock %}
