{% extends "base.html" %}

{% block link %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static "css/stylePageSuivi.css" %}" type="text/css">
{% endblock %}

{% block content %}
<section class="section1">
  <section class="section2 section2Suivi">
    <h1 class="titleBlack">Bonjour Lionel</h1>
    <div class="barreSeparationOrange barreSeparationOrange1"></div>
    <article class="infoUser">
      <table class="tableResumeUser">
	<tr>
	  <td rowspan="3">
	    <img class="imgResumeUserProfil"
		 src="{% static "images/icones_resume_user/icone_profil.png" %}"/>
	  </td>
	  <td width=100 class="t2">
	    <img class="imgResumeUser3Icones"
		 src="{% static "images/icones_resume_user/icone_cuisine.png" %}"/>
	  </td>
	  <td class="t3">Mes recettes</td>
	  <td width=100 class="t4">0</td>
	</tr>
	<tr>
	  <td class="t2">
	    <img class="imgResumeUser3Icones" 
		 src="{% static "images/icones_resume_user/icone_sport.png" %}"/>
	  </td>
	  <td class="t3">Mes exercices</td>
	  <td class="t4">0</td>
	</tr><tr>
	  <td class="t2">
	    <img class="imgResumeUser3Icones" 
		 src="{% static "images/icones_resume_user/icone_courses.png" %}"/>
	  </td>
	  <td class="t3">Menus (jours)</td>
	  <td class="t4">0</td>
	</tr>
      </table>
    </article>
  </section>
  <section class="section3 section3Suivi">
    <div class="barreSeparationOrange2"></div>
    <section class="section33">
      <article class="articleDoubleBigGauche">
	<h1 class="titleArticleSuiviDuJour
		   titleArticleSuiviDuJourBig">Profil alimentaire</h1>
	<h1 class="optionsProfil">Recettes</h1>
	<h1 class="optionsProfil">Aliments favoris</h1>
	<h1 class="optionsProfil">Allergies alimentaires</h1>
      </article>
      <article class="articleDoubleBigDroite">
	<h1 class="titleArticleSuiviDuJour titleArticleSuiviDuJourBig">Profil Fitness</h1>
	<h1 class="optionsProfil">Mensurations</h1>
	<h1 class="optionsProfil">Exercices</h1>
	<h1 class="optionsProfil">Courbes des tendances</h1>
      </article>
    </section>
    <div class="barreSeparationOrange2"></div>
    <section class="section333">
      <article class="articleSimpleGauche">
	<h1 class="titleArticleSuiviDuJour">Suivi Personnel</h1>
	<img class="imgArticleDuJour"
	     src="{% static "images/newsDefaultImages/courbePoids.jpg" %}"/>
      </article>
    </section>
    <div class="barreSeparationOrange barreSeparationOrange2"></div>
  </section>
</section>
{% endblock %}
