<!DOCTYPE>
<html lang="fr">
	<head>
		<meta charset="utf-8">
		<title>Hygii | Vôtre coach personnel</title>
		
		{% load staticfiles %}
		<link rel="icon" type="image/png" href="{% static "images/logo.png" %}"/>
		<link rel="stylesheet" href="{% static "css/styleCommun.css" %}" type="text/css">
		{% block link %}{% endblock %}
	</head>
	
	<body>
	  <div class="barreockNoireBig"></div>
	  <div class="barreOrangeBig"></div>
	  <div class="principalCanvas">
	    <header class="barreNoireTop">



        {% if user.is_authenticated %}
        <a href="{% url 'auth_logout' %}"><input type="button" value="logout"></a>
        <p style="color:white;display:inline-block;">Tu es connecte {{ user.username }} </p>

        {% else %}

          <form method="post" action="{% url 'auth_login' %}">
            {% csrf_token %}
            <input type="text" name="username" id="id_username">
            <input type="password" name="password" id="id_password">
            <input type="submit" value="Connexion" />
            <p style="color:white;display:inline-block;">connecte toi </p>
          </form>
        {% endif %}


	    </header>
	    <nav class="barreMenu">
	      <ul>
		<li class="menu_index">
		  <a href=" {% url 'accueil'  %} ">
		    <img class="imgMenuIndex" src="{% static "images/icone_menus/1_SPLASH.jpg" %}"/>
		  </a>
		</li><!--
		--><li class="menu_recettes">
		  <a href=" {% url 'recettes'  %} ">
		       <img src="{% static "images/icone_menus/icone_cuisine.jpg" %}"/>
		       <div>RECETTES</div>
		     </a>
		   </li><!--
		--><li class="menu_courses">
		  <a href=" {% url 'courses'  %} ">
		    <img src="{% static "images/icone_menus/icone_courses.jpg" %}"/>
		    <div>COURSES</div>
		    </a>
		</li><!--
		--><li class="menu_exercices">
		  <a href=" {% url 'exercices'  %} ">
		    <img src="{% static "images/icone_menus/icone_exercices.jpg" %}"/>
		    <div>EXERCICES</div>
		  </a>
		</li><!--
		--><li class="menu_suivi">
		  <a href=" {% url 'suivi'  %} ">
		    <img src="{% static "images/icone_menus/icone_suivi.jpg" %}"/>
		    <div>SUIVI</div>
		  </a>
		</li>
	      </ul>
	    </nav>
      {% block content %}{% endblock %}
	    <footer class="footer">
	      <p class="textCopyright">Mention légale : Copyright 2014-2015</p>
	    </footer>
	  </div>
	  {% block linkJavascript %}{% endblock %}
	</body>
</HTML>
<!-- Attention, lorque l'on modifie les marges entre les blocs, il faut penser a modifier celles du bloc parent -->
