/*STYLE CSS POUR LA PAGE RECETTES.HTML*/

.section2Recettes{
    height:340px;
    width:1195px;
}
.section3Recettes{
    height:640px;
    width:1195px;
}

.barreSeparationOrange1{
    background-color:RGB(255,105,42);
    height: 3px;
    margin-top:5px;
    width:600px;
}
.barreSeparationOrange2{
    background-color:RGB(255,105,42);
    height: 3px;
    margin-top:10px;
    margin-bottom:10px;
    width:1197px;
}
.bigSearchAreaRecette{
    background-color:RGB(255,105,42);
}
.buttonBigSearchAreaOrange{
    color:RGB(255,105,42);
}
